<div class="main-container">
  <h2>Acerca De</h2>

  <div class="container-about">
    <p>
      Anime Space es un proyecto personal con el propósito de proporcionar un
      espacio en la web para mantener tus series anime organizadas y facilitarte
      la consulta de tus animes favoritos en tu propio idioma
    </p>
  </div>

  <div class="container-social">
    <h3>Social</h3>
    <div class="icons">
      <a href=""><i class="fab fa-facebook"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-youtube"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
